.form-container{
  max-width: 1100px;
  margin: 5vh auto;
  background: #fff;
  min-height: 90vh;
  padding: 20px;
  display: flex;
  flex-direction: row;

  border-radius: 8px;
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,.07);
}
form{
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
.item{
  text-align: center;
  padding: 10px;
}
.photo{
  width: 250px;
  height: 250px;
  background: #efefef;
  position: relative;
  border-radius: 8px;
  margin-top: 22px;
}
.form-container_h3{
  font-size: 25px;
}
.form-container_input{
  width: 80%;
  height: 38px;
  padding: 2px 5px;
  border: solid 1px #cfcfcf;
  border-radius: 4px;
  margin-bottom: 18px;
}
.form-container_submit{
  width: 40%;
  min-width: 160px;
  height: 38px;
  background: #023;
  color: #fff;
  margin: 20px 0;
  border: none;
  box-shadow: 1px 2px 10px 0 rgba(0, 16, 21, .3);
  transition: background .3s ease;
  cursor: pointer;
  border-radius: 4px;
}
.form-container_submit:hover{
  background: #057;
}
