body input{
  margin-bottom: 10px;
  height: 28px;
  padding: 5px;

}
.mvd_holder, .mvd_search, .mvd_results {
  max-width: 1200px;
  width: 90%;
  margin: 30px auto;
  min-height: 90vh;
  background: #fff;
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,.07);
  border-radius: 8px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.mvd_holder_photo {
  width: 250px;
  height: 250px;
  background-color: #efefef;
  border-radius: 8px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.mvd_holder_part {
  display: flex;
  flex-direction: column;
  min-height: calc(90vh - 40px);
  flex-shrink: none;
  align-items: center;
}
.mvd_holder_part-left, .mvd_holder_part-right{
  width: 250px;
}
.mvd_holder_rfid{
  text-align: center;
  margin-top: 10px;
}
.mvd_holder_desc{
  text-align: center;
}
.mvd_holder_option{
  padding: 30px;
  background: #fff;
  align-self: flex-end;
  border-radius: 4px;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,.04);
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
.mvd_holder_part-middle{
  background: #fafafa;
  width: calc(100% - 550px);
  min-width: 500px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.mvd_middle_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mvd_middle_photo{
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 4px;
}
.mvd_middle_desc{
  width: calc(100% - 130px);
}
.mvd_middle_comments{
  height: 100vh;
  max-height: 270px;
  background: #fff;
  border-radius: 4px;
  width: 100%;
  margin: 20px 0;
  overflow: auto;
}
.mvd_middle_comment{
  min-height: 42px;
  padding: 10px;
  text-align: center;
  border-bottom: solid 1px rgba(0,0,0,.1)
}
.mvd_middle_comment:first-child{
  border-bottom: solid 1px black;
}
.mvd_middle_metrics{
  height: 100vh;
  max-height: 250px;
  width: 100%;
  background: #fff
}
.mvd_middle_metdics td, .mvd_middle_metdics th{
  padding: 4px 9px;
}


.mvd_search{
  display: flex;
  flex-direction: column;
}
.mvd_search_tabs{
  display: flex;
  justify-content: space-between;
}
.mvd_search_tab{
  padding: 20px;
  margin: 0 10px;
  border: solid 1px rgba(0,0,0,.2);
  border-radius: 4px;
  cursor: pointer;
}

.mvd_search_form{
  display: flex;
  max-width: 700px;
  margin: 20px auto;
  padding: 0 20px;
  flex-direction: column;
}
